<div class="div-general" style="overflow-x: hidden">
    <div class="div-titulo">
        <h2 data-aos="fade-down" data-aos-duration="2000">Contacto</h2>
    </div>
    <div class="div-general-imagenes">
        <div class="div-imagenes">
            <div class="row g-0">
                <div class="col-4  div-img" data-aos="fade-left" data-aos-duration="2000">
                    <a href="https://www.facebook.com/abraham.agyirregutierrez.7" target="_blank" rel="noopener noreferrer">
                        <img class="imagen-facebook" src="assets/imagenes/Facebook.png" alt="Abraham Gutierrez" srcset="">
                    </a>
                </div>

                <div class="col-4 div-img" data-aos="fade-up" data-aos-duration="2000">
                    <a href="https://www.instagram.com/abrahaguirre/?hl=es-la" target="_blank" rel="noopener noreferrer">
                        <img class="imagen-instagram" src="assets/imagenes/Instagram.png" alt="@abrahaguirre" srcset="">
                    </a>
                </div>

                <div class="col-4 div-img" data-aos="fade-right" data-aos-duration="2000">
                    <img class="imagen-gmail" src="assets/imagenes/Gmail.png" alt="Gmail" srcset="" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Correo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hola mi estimado cliente, me puede enviar un correo con su propuesta de proyecto, en cuanto lo reciba me comunicare con usted.
                <br>
                <br> Correo:
                <input type="text" id="InputCorreo" [(ngModel)]="correo" class="inputCorreo" disabled>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" cdkCopyToClipboard="{{correo}}">Copiar correo</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Copiado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Correo copiado al portapapeles
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>