<div class="div-general-proyectos">
    <div class="div-titulo">
        <h2>Proyectos</h2>
    </div>

    <div class="row no-gutters proyecto" data-aos="fade-right" data-aos-duration="2000">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-imagen">
            <div class="div-imagen">
                <img src="assets/imagenes/pagina web padilla arceo.png" alt="Página web para el despacho de abogados Padilla Arceo y Asociados" srcset="">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-texto">
            <div class="div-text">
                <h3>Rediseño de página web para despacho de abogados</h3>
                <br>

                <p>
                    Realicé un rediseño completo de la página web para el despacho <strong>Padilla Arceo y Asociados</strong> con el objetivo de <strong>mejorar su estética y usabilidad</strong>. La versión anterior del sitio carecía de un diseño profesional
                    y atractivo, lo cual afectaba la percepción del despacho.
                    <br> Este rediseño se enfocó en crear una imagen moderna y confiable que refleje mejor los valores y profesionalismo de la firma.
                </p>

                <br>
                <a href="https://padillarceo.com/" target="_blank" rel="noopener noreferrer" class="a-link">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg> Visitar sitio
                </a>
            </div>
        </div>
    </div>

    <div class="row no-gutters proyecto" data-aos="fade-right" data-aos-duration="2000">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-imagen">
            <div class="div-imagen">
                <img src="assets/imagenes/Proyecto-SiluetaYa.png" alt="Página web para empresa Siluetaya" srcset="">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-texto">
            <div class="div-text">
                <h3>Web corporativa para Siluetaya</h3>
                <br>

                <p>
                    Junto a <a href="https://www.aullox.com/" target="_blank" rel="noopener noreferrer">Grupo Aullox</a>, creamos una web corporativa para la empresa <a href="https://siluetaya.com/" target="_blank" rel="noopener noreferrer">Siluetaya</a>.
                    Este sitio está diseñado para presentar sus productos de manera llamativa, proporcionando información detallada sobre la empresa y ofreciendo un blog para mantener al público informado. La página combina diseño visual atractivo y funcionalidad
                    para fortalecer la presencia digital de Siluetaya.
                </p>

                <br>
                <a href="https://siluetaya.com/" target="_blank" rel="noopener noreferrer" class="a-link">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg> Visitar sitio
                </a>
            </div>
        </div>
    </div>

    <div class="row no-gutters proyecto" data-aos="fade-right" data-aos-duration="2000">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-imagen">
            <div class="div-imagen">
                <img src="assets/imagenes/proyecto-senorita89.png" alt="Pagina web de streaming para la serie señorita 89" srcset="">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-texto">
            <div class="div-text">
                <h3>Página de streaming para Starzplay</h3>
                <br>

                <p>
                    En colaboración con <a href="https://www.aullox.com/" target="_blank" rel="noopener noreferrer">Grupo Aullox</a> desarrollé una página de streaming para <a href="https://www.lionsgateplus.com/mx/es/" target="_blank" rel="noopener noreferrer">starzplay</a>,
                    enfocada en la premiere virtual de la serie "Señorita 89". Este sitio fue diseñado para ofrecer una experiencia inmersiva de estreno en línea, permitiendo a los espectadores acceder al evento de lanzamiento de la serie de manera accesible
                    y atractiva.
                </p>

                <br>
                <a href="https://abraham1309.github.io/senorita-89/" target="_blank" rel="noopener noreferrer" class="a-link">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg> Visitar sitio
                </a>
            </div>
        </div>
    </div>

    <div class="row no-gutters proyecto" data-aos="fade-right" data-aos-duration="2000">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-imagen">
            <div class="div-imagen">
                <img src="assets/imagenes/portafolio de Astrid.png" alt="Portafolio de trabajo de la diseñadora grafica Astrid" srcset="">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-texto">
            <div class="div-text">
                <h3>Portafolio de trabajo</h3>
                <br>
                <p>
                    Desarrollé un <strong>portafolio web</strong> para la diseñadora <strong>Astrid Jahdai Torres Medina</strong>, con el objetivo de ayudarla a atraer más clientes y expandir su marca personal.
                    <br> Esta página le permite mostrar su trabajo de manera organizada y visualmente atractiva, facilitando el acceso de sus potenciales clientes a su portafolio y potenciando su presencia online.

                </p>
                <br>
                <a href="https://abraham1309.github.io/Portafolio-Astrid/" target="_blank" rel="noopener noreferrer" class="a-link">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg> Visitar sitio
                </a>
            </div>
        </div>
    </div>

    <div class="row no-gutters proyecto" data-aos="fade-right" data-aos-duration="2000">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-imagen">
            <div class="div-imagen">
                <img src="assets/imagenes/Pagina TICS.png" alt="Página web para la capacitación de trabajo de Tecnologías de la Información y la Comunicación (TICS)." srcset="">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-texto">
            <div class="div-text">
                <h3>Página web de TICS</h3>
                <br>

                <p>
                    Este proyecto fue parte de mi examen final en la capacitación en <strong>Tecnologías de la Información y la Comunicación</strong> <i> (TICS)</i>. La página web fue diseñada para informar a los estudiantes sobre los temas y contenidos
                    de esta materia, sirviendo como recurso educativo y espacio de consulta.
                </p>

                <br>
                <a href="https://abraham1309.github.io/capacitacion-de-TICS/" target="_blank" rel="noopener noreferrer" class="a-link">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg> Visitar sitio
                </a>
            </div>
        </div>
    </div>
</div>