<h1 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Proyectos</h1>
<div class="div-general-text" style="overflow-x: hidden">
    <div class="div-texto">
        <p class="linea1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2000">___</p>
        <p class="p-proximamente" data-aos="zoom-in-down" data-aos-duration="2000">P r o x i m a m e n t e</p>

        <p class="p-primer" data-aos="zoom-in-down" data-aos-duration="2000">¿Le gustaria ser el primer proyecto?</p>
        <p class="linea2" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="2000">___</p>
    </div>
</div>

<div class="div-color-fondo">

</div>

<div class="fondo">

</div>

