<div class="div-general-proyectos">
    <div class="div-titulo">
        <h2>Proyectos</h2>
    </div>

    <div class="row no-gutters proyecto" data-aos="fade-right" data-aos-duration="2000">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-imagen">
            <div class="div-imagen">
                <img src="../../assets/imagenes/portafolio de Astrid.png" alt="Portafolio de trabajo de la diseñadora grafica Astrid" srcset="">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 div-general-texto">
            <div class="div-text">
                <h3>Portafolio de trabajo</h3>
                <br>
                <p>Se desarrollo un portafolio de trabajo web para la diseñadora <strong>Astrid Jahdai Torres Medina</strong>.
                    <br> Este trabajo se realizó con el propósito de <strong>atraer más clientes</strong>, <strong>crecer su marca personal</strong> y <strong>para mostrar todos sus trabajos de una forma más facil</strong>.</p>
                <br>
                <a href="https://abraham1309.github.io/Portafolio-Astrid/" target="_blank" rel="noopener noreferrer">
                    <svg>
                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                    </svg> Visitar sitio
                </a>
            </div>
        </div>
    </div>


</div>