* {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.div-general-proyectos {
    height: auto;
    width: 100vw;
    padding-top: 5%;
    background-color: var(--color-fondo1);
    overflow: hidden;
}

.div-general-proyectos .div-titulo {
    padding-top: 2%;
}

.div-general-proyectos .div-titulo h2 {
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 40px;
    position: relative;
    display: grid;
    place-items: center;
    z-index: 0
}

.div-general-proyectos .div-titulo h2::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 30%;
    background-color: #ee4540;
    z-index: -1;
}

.div-general-proyectos .proyecto {
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    /*border-top: 1px solid rgba(209, 209, 209, 0.623);*/
}


/*Estilos para la imagen*/

.div-general-imagen {
    height: auto;
}

.div-general-proyectos .proyecto .div-general-imagen .div-imagen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.div-general-proyectos .proyecto .div-general-imagen .div-imagen img {
    width: 90%;
}


/*Estilo para la descripcion*/

.div-general-proyectos .proyecto .div-general-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.div-general-proyectos .proyecto .div-general-texto .div-text {
    width: 80%;
}

.div-general-proyectos .proyecto .div-general-texto .div-text h3 {
    font-family: 'Play', sans-serif;
    font-size: 39px;
}

.div-general-proyectos .proyecto .div-general-texto .div-text p {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    width: 85%;
}

.div-general-proyectos .proyecto .div-general-texto .div-text p a {
    text-decoration-color: var(--azul);
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}

.div-general-proyectos .proyecto .div-general-texto .div-text .a-link {
    display: block;
    line-height: 35px;
    max-width: 165px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    text-align: center;
}

.div-general-proyectos .proyecto .div-general-texto .div-text .a-link svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 35px;
}

.div-general-proyectos .proyecto .div-general-texto .div-text .a-link rect {
    fill: none;
    stroke: var(--azul);
    stroke-width: 3;
    stroke-dasharray: 422, 0;
}

.div-general-proyectos .proyecto .div-general-texto .div-text .a-link:hover {
    letter-spacing: 2px;
    font-weight: 900;
    color: var(--azul);
}

.div-general-proyectos .proyecto .div-general-texto .div-text .a-link:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    stroke: #ee4540;
}

@media screen and (max-width: 991px) {
    .div-general-proyectos .proyecto .div-general-imagen .div-imagen {
        justify-content: center;
        align-items: center;
    }
    .div-general-proyectos .proyecto .div-general-imagen .div-imagen img {
        margin-bottom: 5%;
        width: 55%;
    }
    .div-general-proyectos .proyecto .div-general-texto .div-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .div-general-proyectos .proyecto .div-general-texto .div-text p {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .div-general-proyectos .proyecto .div-general-imagen .div-imagen img {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .div-general-proyectos .proyecto .div-general-texto .div-text h3 {
        font-family: 'Play', sans-serif;
        font-size: 32px;
    }
}

@media screen and (max-width: 400px) {
    .div-general-proyectos .proyecto .div-general-texto .div-text h3 {
        font-size: 25px;
    }
    .div-general-proyectos .proyecto .div-general-texto .div-text p {
        font-size: 15px;
    }
}