<div class="row div-general g-0">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 div-general-imagen" data-aos="fade-right" data-aos-duration="3000">
        <div class="div-imagen">
            <a>
                <img src="assets/imagenes/SobreMi.jpg" alt="" srcset="">
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 div-general-text">
        <div class="div-text" data-aos="fade-left" data-aos-duration="2000">
            <div class="div-titulo">
                <h2>
                    Sobre mí
                </h2>
            </div>

            <p>
                Hola, mucho gustó señoras y señores, soy <strong>Abraham</strong> tengo <strong>20 años</strong>, soy de México del estado de Veracruz.
                <br>
                <br> Estudié un curso de <strong>programacion</strong> de un año, en donde me enseñaron este gran mundo, después yo fuí aprendiendo por mi parte.
                <br>
                <br> Actualmente estoy en cuarto semestre de la carrera <strong>ingenieria en sistemas computacionales</strong> en el <strong>Instituto Tecnológico Superior de Xalapa</strong>,
            </p>
        </div>
    </div>
</div>