<div class="row div-general g-0">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 div-general-imagen" data-aos="fade-right" data-aos-duration="3000">
        <div class="div-imagen">
            <a>
                <img src="assets/imagenes/SobreMi.jpg" alt="" srcset="">
            </a>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 div-general-text">
        <div class="div-text" data-aos="fade-left" data-aos-duration="2000">
            <h2>
                Sobre mi
            </h2>

            <p>
                Hola, mucho gusto señoras y señores, soy <strong>Abraham</strong> tengo <strong>18 años</strong> soy de Mexico del estado de <strong>Veracruz</strong>.
                Actualmente estoy cursando 6to semestre de preparatoria.
                <br>
                <br>
                Estudie un curso de <strong>programacion</strong> de un año, en donde me enseñaron un poco de todo sobre este grande mundo, despues yo fui aprendiendo por mi parte.
                <br>
                <br>
                Me gustaria estudiar <strong>ingeneria en software</strong> en la <strong>Universidad Veracruzana</strong>.
            </p>
        </div>
    </div>
</div>
