<section class="seccion-servicios">
    <div class="div-titulo">
        <h2 data-aos="zoom-in" data-aos-duration="2000">Servicios</h2>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 div-general-servicio">
            <div class="div-servicio" data-aos="fade-right" data-aos-duration="2000">
                <div class="div-cabezera">
                    <img src="assets/imagenes/web.png" alt="Pagina web" srcset="">
                    <h3>Desarrollo web</h3>
                </div>
                <br>
                <p>
                    <strong>No importa si tu negocio es chico, mediano o grande, es mejor con un sitio web.</strong> 
                    <br>
                    Desarrollamos tu sitio web a tu gusto y lo mejor de todo de acuerdo a tu presupuesto. Ofrecemos tiendas virtuales, portafolio web, páginas auto administrables, páginas informativas, blogs, entre otros sitios webs.
                </p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 div-general-servicio">
            <div class="div-servicio div-servicio-bordes" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
                <div class="div-cabezera">
                    <img src="assets/imagenes/movil.png" alt="Aplicaciones moviles" srcset="">
                    <h3>Aplicaciones moviles</h3>
                </div>
                <br>
                <p>
                    <strong>¿Quieres desarrollar tu propia aplicación móvil?</strong>
                    <br>
                    Estás en el lugar correcto, desarollamos tu idea a una aplicación
                </p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 div-general-servicio">
            <div class="div-servicio" data-aos="fade-left" data-aos-duration="2000">
                <div class="div-cabezera">
                    <img src="assets/imagenes/escritorio.png" alt="Programas de escritorio" srcset="">
                    <h3>Programas de escritorio</h3>
                </div>
                <br>
                <p>
                    Asies amigo, también desarrollamos programas de escritorio desde un sistema de ventas hasta un rompecabezas
                </p>
            </div>
        </div>
    </div>
</section>