<section class="seccion-servicios">
    <div class="row no-gutters">
        <div class="div-titulo">
            <h2 data-aos="zoom-in" data-aos-duration="2000">Servicios</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 div-general-servicio">
            <div class="div-servicio" data-aos="fade-right" data-aos-duration="2000">
                <img src="assets/imagenes/web.png" alt="Pagina web" srcset="">
                <h3>Paginas webs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est expedita dicta natus nihil laudantium, consequuntur rerum beatae accusamus saepe laboriosam, consequatur, fuga quibusdam vitae cumque aliquid porro reiciendis quo odio!</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 div-general-servicio">
            <div class="div-servicio div-servicio-bordes" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
                <img src="assets/imagenes/movil.png" alt="Aplicaciones moviles" srcset="">
                <h3>Aplicaciones moviles</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi quibusdam deserunt necessitatibus veniam. A, quaerat exercitationem. Quod numquam exercitationem dolore beatae, ab iure accusamus autem voluptatibus placeat doloremque excepturi nihil!</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 div-general-servicio">
            <div class="div-servicio" data-aos="fade-left" data-aos-duration="2000">
                <img src="assets/imagenes/escritorio.png" alt="Programas de escritorio" srcset="">
                <h3>Programas de escritorios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti iure ducimus magni quas rerum maiores cum rem fuga consectetur reiciendis soluta, unde adipisci explicabo! Ipsum sequi quia provident cupiditate tempora.</p>
            </div>
        </div>
    </div>
</section>