<section class="seccion-servicios">
    <div class="div-titulo">
        <h2 data-aos="zoom-in" data-aos-duration="2000">Servicios</h2>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 div-general-servicio">
            <div class="div-servicio" data-aos="fade-right" data-aos-duration="2000">
                <div class="div-cabezera">
                    <img src="assets/imagenes/web.png" alt="Paginas web a medida" srcset="">
                    <h3>Desarrollo de páginas web a medida</h3>
                </div>
                <br>
                <p>
                    Diseño y desarrollo de <strong>sitios web personalizados</strong> y optimizados para todo tipo de dispositivos. Ya sea que necesites una página corporativa, un ecommerce, o un portafolio profesional, me enfoco en crear <strong>sitios llamativos</strong>,
                    intuitivos y funcionales que reflejen la identidad de tu marca y capten la atención de tus usuarios.
                </p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 div-general-servicio">
            <div class="div-servicio div-servicio-bordes" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
                <div class="div-cabezera">
                    <img src="assets/imagenes/web.png" alt="Paginas web" srcset="">
                    <h3>Rediseño y optimización de páginas existentes</h3>
                </div>
                <br>
                <p>
                    Si tienes un sitio que necesita un <strong>nuevo aire</strong> o <strong>mejoras en su rendimiento</strong>, te ayudo a darle un aspecto renovado, moderno y con una experiencia de usuario mejorada. Trabajo diseño visual, y adaptación
                    móvil para asegurar que tu sitio se destaque y funcione perfectamente.
                </p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 div-general-servicio">
            <div class="div-servicio" data-aos="fade-left" data-aos-duration="2000">
                <div class="div-cabezera">
                    <img src="assets/imagenes/escritorio.png" alt="Programas de escritorio" srcset="">
                    <h3>Asesoría en programación y ayuda en ejercicios</h3>
                </div>
                <br>
                <p>
                    Ofrezco <strong>asesoría personalizada</strong> para estudiantes y desarrolladores principiantes que buscan mejorar sus habilidades en programación. Desde resolver ejercicios de la escuela hasta apoyar en proyectos específicos, mi
                    objetivo es guiarte en el desarrollo de tus habilidades de programación y ayudarte a resolver problemas de manera eficiente.
                </p>
            </div>
        </div>
    </div>
</section>