<div class="row div-General" id="#Sobre_Mi">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 div-saludo">
        <div class="sub-div">
            <div class="div-imagen" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="2000">
                <img class="imagen-persona" src="../../assets/imagenes/fotoYo.jpg" alt="" srcset="">
            </div>

            <div class="div-text" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2000">
                <div class="text-nombre" data-text="¡Hola soy Abraham!">¡Hola soy Abraham!</div>

            </div>
        </div>
    </div>

    <div class="col-12 col-sm-16 col-md-6 col-lg-6 col-xl-6 div-eslogan">
        <div class="div-p" id="divText">
        </div>
    </div>
</div>

<div class="fondo">

</div>











